node_modules/
.DS_Store
public/renderer.js
videos/
progress.json
src/assets/app.png
src/assets/checkmark.png
src/assets/child.png
src/assets/client.png
src/assets/cookie.png
src/assets/gears.png
src/assets/github.png
src/assets/hd.png
src/assets/offline.png
src/assets/server.png
src/assets/video.png
