* {
  box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

li {
	background-color: #111539;
	width: 100%;
	padding-top: 1.5em;
	font-weight: bold;
	color: white;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}

 @import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);

body {
  font-family: 'quicksand';
  font-weight: lighter;
  background: rgba(92,129,202,1);
  background: 
    -moz-linear-gradient(
      left, 
      rgba(92,129,202,1) 0%, 
      rgba(249,140,112,1) 100%
  );
  background:
    -webkit-linear-gradient(
        left, 
        rgba(92,129,202,1) 0%, 
        rgba(249,140,112,1) 100%
  );
}

.accordion {
   -webkit-box-shadow: 0px 13px 23px -13px rgba(0,0,0,0.5);
   width: 420px;
   background-color: transparent;
   margin: auto;
   margin-top: 50px;
}

.title {
  height: 30px;
  width: 400px;
  background-color: rgba(0,0,0, .4);
  color: #ffddcc;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  line-height: 2;
  font-weight: lighter;
  position: relative;
  padding: 10px;
  z-index: 2000;
  border-radius: 4px;
  margin-top: 2px;
  transition: all .2s ease-in;
}

.title-text {
  margin-left: 10px;
}

.title:hover {
  cursor: pointer;
  background-color: rgba(0,0,0, .5);
}

.content {
  height: 30px;
  width: 420px;
  background-color: transparent;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  text-align: center;
  position: relative;
  z-index: 1000;
  margin-top: -30px;
  text-align: left;
  transition: all 200ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

.content-open {
  margin-top: 0px;
  height: 200px;
  background-color: rgba(0,0,0, .1);
  transition: all 350ms cubic-bezier(0.080, 1.090, 0.320, 1.275);
}

.content-text {
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  transition: all .2s ease-in;
}

.content-text-open {
  visibility: visible;
  opacity: 1;
  transition: all .8s ease-in;
}

.fa-angle-down {
  font-size: 20px;
  color: rgba(255,255,255, .5);
  transition: all .6s cubic-bezier(0.080, 1.090, 0.320, 1.275);
}

.fa-rotate-180 {
  color: rgba(255,255,255, 1);
}

.arrow-wrapper {
  position: absolute;
  margin-left: 375px;
}


