* {
  box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
  }

body {
	overflow: hidden;
}


/*nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}*/

 @import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);

/*body {

  font-family: 'quicksand';
  font-weight: lighter;
  background: rgba(92,129,202,1);
  background: 
    -moz-linear-gradient(
      left, 
      rgba(92,129,202,1) 0%, 
      rgba(249,140,112,1) 100%
  );
  background:
    -webkit-linear-gradient(
        left, 
        rgba(92,129,202,1) 0%, 
        rgba(249,140,112,1) 100%
  );
}*/

.accordion {
   -webkit-box-shadow: 0px 13px 23px -13px rgba(0,0,0,0.5);
   width: 40em;
   background-color: transparent;
   margin: auto;
   margin-top: 5px;
	 overflow-y: scroll;
	/*border: solid red;*/
   height: 100vh;
   }

.title {
  height: 40px;
  width: 420px;
  background-color: rgba(0,0,0, .4);
  color: #ffddcc;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  line-height: 2;
  font-weight: lighter;
  position: relative;
  padding: 10px;
  z-index: 2000;
  border-radius: 4px;
  margin-top: 2px;
  transition: all .2s ease-in;
	/*border: solid green;*/
  }

.title-text {
  margin-left: 10px;
}

.title:hover {
  cursor: pointer;
  background-color: rgba(0,0,0, .5);
}

.content {
  height: 30px;
  width: 420px;
  background-color: transparent;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  text-align: center;
  position: relative;
  z-index: 1000;
  margin-top: -28px;
  text-align: left;
  transition: all .8s cubic-bezier(0.600, -0.280, 0.735, 0.045);
	transition: all .8s ease-in;
	overflow: hidden;
}
  
  /*below is where the green check mark comes in on main menu */
.content li {
  margin: 0;
	padding: 16px 0 16px 28px;
	list-style: none;
	background-image: url("http://www.clipartbest.com/cliparts/9cR/RAd/9cRRAdooi.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}

/*below is for when each category of videos opens and that box's properties*/
.content-open {
  margin-top: 0px;
	height: fit-content;
  background-color: rgba(0,0,0, .1);
  /*transition: all 950ms cubic-bezier(0.080, 1.090, 0.320, 1.275);*/
	transition: all .8s ease-in;
	/*will-change: overfow;*/
	
}

.content-text {
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  transition: all .8s ease-in;
}

.content-text-open {
  visibility: visible;
  opacity: 1;
  transition: all .8s ease-in;
}

.fa-angle-down {
  font-size: 20px;
  color: rgba(255,255,255, .5);
  transition: all .6s cubic-bezier(0.080, 1.090, 0.320, 1.275);
}

.fa-rotate-180 {
  color: rgba(255,255,255, 1);
}

.arrow-wrapper {
  position: absolute;
  margin-left: 375px;
}

html, body {
	height: 100vh
}



/*below is for .hamburger icon in nav bar*/
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
/*below is .cross which does not appear yet bc html has been taken out of nav bar*/
.cross{
  background:none;
  position:absolute;
  top:0px;
  left:0;
  padding:13px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}


.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:30%; background:#131313;  position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}